@{
    ViewData["Title"] = "Elecciones";
}

<div class="text-center">
    <h1 class="display-4">Elecciones 2023</h1>
    <p>Binvenidos a la pagina de Elecciones 2023 en la cual se mostraran todos los candidatos de cada partido, sus datos personales y su postulacion. En la misma solo se podran ver las postulaciones, la misma no sirve para votar.</p>
</div>