@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos!</h1>
    <p>Binvenidos a la pagina de Elecciones 2023</p>
    @foreach (Partidos par in ViewBag.infoPartido)
    {
        <div class="card">
            <a href='@Url.Action("VerDetallePartido")'><img src="par.foto" alt="Logo Partido"></a>
            <p>@par.nombre</p>
        </div>
    }
</div>
